<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      AGuyIKnow Grocery
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-list>
  	<ion-item *ngFor="let item of items"  >
	  	<ion-card *ngIf="item.quantity > 0">
	  		<div (click)="viewItem(item)">
	  			  <ion-card-header>
				    {{item.name}}
				  </ion-card-header>

				  <ion-card-content	>
		  			<p>Quantity: {{item.quantity}}</p>
		  			<p *ngIf="item.color != null">Color: {{item.color}}</p>
		  			<p *ngIf="item.brand != null">Brand: {{item.brand}}</p>
		  			<p *ngIf="item.size != null">Size: {{item.size}}</p>
				  </ion-card-content>
	  		</div>
		  
		  <ion-row>
		    <ion-col center text-center>
		      <ion-icon ios="ios-trash" color="danger" md="md-trash" (click)="showConfirm(item) "></ion-icon>
		    </ion-col>
		  </ion-row>

		</ion-card>
  		
  			
  	</ion-item>
    
  </ion-list>
</ion-content>